:export {
  menuText: #cbd0d6;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #2d2f3d;
  menuHover: #242631;
  subMenuBg: #2d2f3d;
  subMenuHover: #242631;
  sideBarWidth: 210px;
}
